.action-bar {
    display: grid;
    grid-template-columns: auto 200px;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 30px;
}

.action-bar .form-group {
    margin-bottom: 0 !important;
}

.action-bar__right {
    justify-self: right;
}
